.store {
    background-color: black;
    display: grid;
    grid-template-columns: 230px 1fr;
    position: relative;
}


.games {
    padding: 7rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.8rem, 1fr));
    justify-content: center;
    gap: 20px;
}


.card {
    background-color: #202020;
    border-radius: 1rem;
    color: white;
    height: 19rem;
    transition: transform .3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: scale(105%);
}

.gameImage {
    height: 200px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.platforms {
    margin-bottom: 10px;
}

.platforms img {
    margin: 0 5px;
}

@media screen and (max-width: 650px) {

    .store,
    .games {
        grid-template-columns: 1fr;
    }
}