.store {
    background-color: black;
    padding: 7rem 2rem 2rem;
}


.games {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 40px;
}

.card {
    background-color: #202020;
    border-radius: 1rem;
    color: white;
    width: 20rem;
    height: 18rem;
    transition: transform .3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: scale(105%);
}

.gameImage {
    height: 200px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.platforms {
    margin-bottom: 10px;
}

.platforms img {
    margin: 0 5px;
}